# קבצי system ו-temp
.DS_Store
Thumbs.db

# תיקיות סביבה וירטואלית Python
venv/
.env

# קבצי לוג
*.log

# קבצי קומפילציה/בינארי
*.exe
*.dll
*.class

# תיקיית build/project artifacts
build/
dist/


terraform.tfstate*
terraform.tfstate

terraform.tfstate.backup*
terraform.tfstate.backup

'ASTERRA DevOps Assignment July, 2025.pdf'*
'ASTERRA DevOps Assignment July, 2025.pdf'

.terraform.lock.hcl*
.terraform.lock.hcl

.terraform/

"ASTERRA DevOps Assignment July, 2025.pdf"
"ASTERRA DevOps Assignment July, 2025.pdf"*

ASTERRA DevOps Assignment July, 2025.pdf